html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
    
}

body {
    font-family: 'font', sans-serif;
    font-family: Arial, Verdana, sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.logo {
    margin-bottom: 50px;
}

.section {
    margin-bottom: 60px;
   
}

.link1 {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 49px;
    padding-right: 49px;
    margin-right: 25px;
    font-weight: 700;
    font-size: 18px;
    background-color:  #3f2aff;
}

.link1:last-child {
    margin-right: 0px;
}

.linkdownload {
    font-weight: 700;
    font-size: 18px;
    color:  #3f2aff;
}

.ico {
    padding-left: 30px;
    background-image: url(../img/download.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;
}

.p {
    margin: 0;
    margin-bottom: 40px;
    width: 872px;
}

.h1 {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #333;
}



/* p {
    margin: 0px;
    margin-bottom: 40px;
    width: 872px;
} */
/* .otstup {
    display: inline-block;
    
} */

/* h1 {
    margin-bottom: 40px;
} */

.grey .backgroundgrey {
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    margin-bottom: 40px;
    background-position: right center;
    background-repeat: no-repeat;
}

.grey .backgroundgrey2 {
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    margin-bottom: 40px;
    background-position: right center;
    background-repeat: no-repeat;
}

.grey:last-child {
    margin-bottom: 0px;
}

.pgrey {
    margin: 0;
    margin-bottom: 10px;
    width: 692px;
}

.pgrey2 {
    border-radius: 20px;
    padding: 95px 95px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: #3f2aff;
}

.h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 46px;
    color: #333
}

.h3 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #333;
}
/* h2,h3 {
    margin-bottom: 10px;
}  */

/* ul,ol {
    padding-left: 15px;
}

li {
    margin-bottom: 20px;
} */
.ul {
    padding-left: 15px;
    
}

.ullink {
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-color: #3f2aff;
    font-size: 20px;
    color: #3f2aff
}

.li {
    margin-bottom: 20px; 
    
}

.li::marker {
    color:#3f2aff;
}

.li:last-child {
    margin-bottom: 0px;
}

.img {
    margin-bottom: 40px;
}

.figure {
    display: inline-block;
    margin-bottom: 40px;
    width: 872px;
    font-size: 0;
    margin-left: 0;
}


.figure figcaption { 
    
    border-width: 1px;
    border-style: solid;
    border-color: #b6b6b6;
    border-top: 0;
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.backgroundgrey {
    background-image: url(../img/decorate-1.png);
    
}

.backgroundgrey2 {
    background-image: url(../img/decorate-2.png); 
}
figure {
    display: inline-block;
    margin-bottom: 40px;
    width: 872px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: gray;
    
}